In [8]:
import pandas as pd

death_stats = pd.read_csv("deaths.csv")
death_stats = death_stats[(death_stats["Year"] == "2015-2017") & (death_stats["Rate"] != "NP") & (death_stats["Sex"] == "Persons")]
death_stats = death_stats[["SA3 code", "SA3 name", "Rate"]]
death_stats.set_index("SA3 name", inplace=True)
death_stats["Rate"] = death_stats["Rate"].astype("float")
death_stats

                     SA3 code   Rate
SA3 name
Queanbeyan              10102  119.0
Snowy Mountains         10103  113.0
South Coast             10104  141.0
Goulburn - Mulwaree     10105  118.0
Young - Yass            10106  131.0
...                       ...    ...
South Canberra          80106  102.0
Tuggeranong             80107   89.0
Weston Creek            80108   76.0
Woden Valley            80109   81.0
Australia            National  104.0

[331 rows x 2 columns]

In [11]:
edu_stats = pd.read_csv("sa3AgeEducation.csv", index_col="region")
edu_stats = edu_stats[["uni"]]
edu_stats = edu_stats.sort_values("uni", ascending=False)
edu_stats

                                            uni
region
South Canberra                         0.657547
North Sydney - Mosman                  0.640994
Cottesloe - Claremont                  0.627343
Ku-ring-gai                            0.621452
Eastern Suburbs - North                0.607935
...                                         ...
Blue Mountains - South                 0.000000
Migratory - Offshore - Shipping (ACT)  0.000000
Migratory - Offshore - Shipping (SA)   0.000000
Migratory - Offshore - Shipping (OT)   0.000000
Migratory - Offshore - Shipping (Qld)  0.000000

[358 rows x 1 columns]

In [15]:
def get_state(code):
    states = ["NSW", "Vic", "Qld", "SA", "WA", "Tas", "NT", "ACT"]
    id = int(code[:1]) - 1
    return states[id]
data = death_stats.merge(edu_stats, left_index=True, right_index=True)
data = data[["SA3 code", "Rate", "uni"]]
data.columns = ["code", "rate", "uni"]
data["state"] = data["code"].apply(get_state)
data.index = data.index + " (" + data["state"] + ")"
data = data[["rate", "uni"]]
data.to_csv("education.csv", index_label="region")
data

                            rate       uni
Queanbeyan (NSW)           119.0  0.294477
Snowy Mountains (NSW)      113.0  0.198278
South Coast (NSW)          141.0  0.191403
Goulburn - Mulwaree (NSW)  118.0  0.158485
Young - Yass (NSW)         131.0  0.219579
...                          ...       ...
North Canberra (ACT)       131.0  0.601712
South Canberra (ACT)       102.0  0.657547
Tuggeranong (ACT)           89.0  0.304336
Weston Creek (ACT)          76.0  0.474974
Woden Valley (ACT)          81.0  0.564774

[330 rows x 2 columns]